@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'lexend';
    src: url("./assets/fonts/LexendGiga-VariableFont_wght.ttf");
  }

#root,body{
  overflow-x: hidden;
}